:root {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --main-bg-color: #D9FE52;
  --secondary-bg-color: #FDFDFD;
  --tertiary-bg-color: #F2F2F2;
  --main-text-color: #000000;
  --secondary-text-color: darkgrey;
}

section {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 48px 20px;
  margin: 0 auto;
  max-width: 600px;
  color: #333;
}

section h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 1;
  margin: 0 0 4px;
  display: inline-block;
  vertical-align: top;
}

section p {
  margin: 1em 0;
}

section a {
  text-decoration: none;
  color: #1ea7fd;
}

section ul {
  padding-left: 30px;
  margin: 1em 0;
}

section li {
  margin-bottom: 8px;
}

section .tip {
  display: inline-block;
  border-radius: 1em;
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  background: #e7fdd8;
  color: #66bf3c;
  padding: 4px 12px;
  margin-right: 10px;
  vertical-align: top;
}

section .tip-wrapper {
  font-size: 13px;
  line-height: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

section .tip-wrapper svg {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 4px;
  vertical-align: top;
  margin-top: 3px;
}

section .tip-wrapper svg path {
  fill: #1ea7fd;
}

.wrapper {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

svg {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

button + button {
  margin-left: 10px;
}

.welcome {
  color: #333;
  font-size: 14px;
  margin-right: 10px;
}

.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.chatbubble {
  /* shared styles for all chat bubbles here */
  border-radius: 20px;
  margin: 10px;
  padding: 16px;
  max-width: 70%;
  min-height: 24px;
  display: flex;
  align-items: flex-start;
}

.chatbubble .chatbubble-image {
  height: 1em; /* adjust as needed */
  width: auto; /* maintain aspect ratio */
  margin-right: 10px; /* space between image and text */
}

.chatbubble-primary {
  /* styles for chat bubbles from ChatGPT */
  background-color: var(--main-bg-color)/* your theme's main color */;
  color: var(--main-text-color)/* a suitable color for the text */;
  /* align-self: flex-start; */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */

}

.chatbubble-secondary {
  /* styles for chat bubbles from the user */
  background-color: var(--secondary-bg-color)/* your theme's secondary color */;
  color: var(--main-text-color)/* a suitable color for the text */;
  /* align-self: flex-end; */

}

.box{
  background-color: var(--tertiary-bg-color);
  display: flex;
  flex-direction: column;
  height: 100vh; /* take full height of the viewport */
}

.input-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px -5px;
  background-color: var(--secondary-bg-color);
  padding: 8px;
  flex-shrink: 0; /* prevent this from shrinking */
  position: fixed; /* Add this line */
  bottom: 0; /* And this line */
  left: 0; /* And this line */
  width: 100%; /* And this line */
  flex-direction: column; /* Add this line */
}

.input-text {
  flex-grow: 1;
  margin-right: 10px;
  overflow: auto;
  max-height: 95px;
}

.input-field.variant .input-text {
  width: 100%;
  margin: 10px 20px;
  padding: 0px 10px;
  margin-bottom:10px;
  background-color: none;
  min-height:95px;
  background-color: var(--secondary-bg-color);
}

.input-field:not(.variant) {
  flex-direction: row; /* Add this line */
}

.input-field.variant .record-button {
  font-size: 30pt;
  background-color: var(--main-bg-color);
  border-radius: 100%;
  width: 60px;
}

.input-field.variant .send-button {
  margin-left:20px;
}

.input-field.variant .cancel-button {
  order: 2;
  margin-top: 10px;
  margin-right: 20px;
}

.messages{
  overflow-y: auto; /* enable scrolling */
  flex-grow: 1; /* take all available space */
}

.option-buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px 0;
}

.option-button {
  background-color: var(--secondary-bg-color);
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
}

.option-button:hover {
  background-color: #ddd;
}

.option-button:active {
  background-color: #ddd;
  transition: background-color 0.3s ease;
}

.option-button.visible {
  transition: opacity 0.3s ease, max-height 0.3s ease, margin 0.3s ease;
  opacity: 1;
  max-height: 100px;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 16px;
}

.option-button.hidden {
  transition: opacity 0.3s ease, max-height 0.3s ease, margin 0.3s ease;
  opacity: 0;
  max-height: 0;
  padding: 0;
  margin: 0;
}

.refresh-button {
  padding: 10px 20px;
  font-size: 10px;
  cursor: pointer;
  background-color: var(--secondary-bg-color); /* tomato color */
  color: black;
  border: none;
  border-radius: 20px;
  margin: 10px;
  transition: background-color 0.3s ease;
}